<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" >
        
        <img src="assets/media/logo-coral-light.svg"  class="d-inline-block align-top" alt="">
        <span class="ml-4 pl-3 coursename">
       احترف تصميم واجهات المواقع والتطبيقات UI/U
       </span>

    </a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="my-2 my-lg-0 ml-auto">
          <i class="fas fa-trophy mr-3"></i>
          <span class="pro-gress">Your Progress</span>
        <button class="btn btn-outline-info my-2  my-sm-0 ml-2" type="submit"> <i class="fas fa-share"></i> Share</button>
        <i class="fas fa-ellipsis-v ml-3 p-2 my-2 fa-border setting"></i>
    </div>
    </div>

  </nav>
