
/* You can add global styles to this file, and also import other style files */
$fontFamily:'Roboto';
$mainColor:#F8F8F8;
$secondColor:#ef4836;
$darkColor:#212121;
$boxShadow:0 5px 13px 0px rgba(0,0,0,0.1);

/* body{background-color: $darkColor;
color: $mainColor;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

